<div class="wrapper"></div>

<div class="card text-white bg-secondary mb-3">
  <div class="card-header">
    <div style="text-align: center;">
      <h1>World News Center</h1>
      </div>
      <div class="container" style="text-align: center;">
        <br>
        <div class="card-body">
      <button (click)="News()" class="btn btn-primary">News</button>
      <button (click)="LogNoti()" class="btn btn-primary" style="margin-left: 40px;">Login Journalist</button>
      </div>
      <div></div>
      </div>
  </div>
</div>
