<div class="wrapper"></div>
<div class="container">
<div class="card">
<div class="card-header">
<h3 style="text-align: center;">News</h3></div>
<div class="card-body">
<div style="text-align: left;"> <button (click)="back()" class="btn btn-danger" >Back</button></div>
<div style="text-align: center;"> <button (click)="create()" class="btn btn-warning" >New</button></div>
<br>
<table class="table table-hover" style="text-align: center;">
<thead> 
    <tr>
    <th>Id</th>
    <th>Text News</th>
    <th>Id Notifier</th>
    <th>Functions</th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let n of newses" class="text-center">
    <td >{{ n.idnews }}</td>
    <td>{{ n.newstext }}</td>
    <td>{{ n.idnotifierid }}</td>
    <td>
    <button (click) = "edit(n)" class="btn btn-warning">Edit</button>
    <button (click) = "delete(n)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>
