<div class="wrapper"></div>
<div class="container col-md-8">
        <div class="card">
            <div class="card-header">
                <h3 style="text-align: center;">Modificate News </h3>
            </div>
            <div class="card-body" style="text-align: right;">
                <form action="">
                    <div class="form-group" style="text-align: center;">
                        <div class="alert alert-warning" *ngIf='LoginEmpty'>{{emptyMessage}}</div>
                        <label for="" >Text:</label>
                        <input [(ngModel)]="ne.newstext" name="newstext" type="text" class="form-control" style="text-align: center;" placeholder="news text" >
                    </div>
                    <button (click)="update(ne)" class="btn btn-danger">Update</button>
                    <button (click)="back()" class="btn btn-danger" style="margin-left: 10px;">Back</button>
                </form>
            </div>
        </div>
    </div>
