<div class="wrapper"></div>
<div class="container col-lg-6">
    <h1 class="text-center">Journalist Login</h1>
    <br>
    <div class="card">  
      <div class="card-body">
        <form class="form-group">
          <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
          <div class="alert alert-success" *ngIf='pass'>{{passMessage}}</div>
          <div class="alert alert-warning" *ngIf='loginEmpty'>{{emptyMessage}}</div>
          <div class="form-group">
            <label for="email">ID:</label>
            <input type="number" class="form-control" id="username" [(ngModel)]="username"  placeholder="Enter id" name="username">
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password"  id="pass" placeholder="Enter password"
              name="password">
          </div>
          <button (click)=handleLogin(username,password)  class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </div>
