<div class="wrapper"></div>
<div class="container">
<div class="card">
<div class="card-header">
    <h5 style="text-align: center;">Coronavirus</h5>
<h3 style="text-align: center;">News</h3></div>
<div class="card-body">
<div style="text-align: left;"> <button (click)="back()" class="btn btn-danger" >Back</button></div>
<br>
<table class="table table-hover" style="text-align: center;">
<thead> 
    <tr>
    <th>Id</th>
    <th>Text News</th>
    <th>Id Notifier</th>
    </tr>
    </thead>
    <tbody> 
    <tr *ngFor="let n of newses" class="text-center">
    <td >{{ n.idnews }}</td>
    <td>{{ n.newstext }}</td>
    <td>{{ n.idnotifierid }}</td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
</div>
